body {
   background: rgb(217, 238, 237);
}

#quiz-div {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   border: 10px solid rgb(223, 102, 102);
   width: 700px;
   height: 500px;
   background: gray;
   border-radius: 10px;

}

.category-border {
   border: 5px solid black;
   margin: 5px;
   border-radius: 5px;
   display: inline-flex;

}