/* body {
   background: rgb(217, 238, 237);
}

ul {
   font-family: 'Helvetica Neue';
   font-size:20px;
}

h1 {
   font-family: 'Helvetica Neue';
   font-style: oblique;
}

h2 {
   font-family: 'Helvetica Neue';
   font-style: unset;
}

h3 {
   font-family: 'Helvetica Neue';
}

.inputs {
   font-family: 'Helvetica Neue';
}

#text {
   font-family: 'Helvetica Neue';
}

#quiz-div {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   border: 10px solid rgb(223, 102, 102);
   width: 700px;
   height: 500px;
   background: gray;
   border-radius: 10px;

}

.category-border {
   border: 4px solid black;
   margin: 10px;
   border-radius: 9px;
   display: inline-grid; */

/* } */

.loader {
   border: 16px solid #f3f3f3; /* Light grey */
   border-top: 16px solid #FBBC05; /* Blue */
   border-radius: 50%;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

#after_submit {
   visibility: hidden;
}

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   cursor: pointer;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
}

body {
   margin: 0;
   padding: 0;
   font-family: "Titillium Web";
   font-weight: bold;
   background: #FFFFFF;
   cursor: pointer;
 }

 #container{
   width:60%;
   background: #55ACEE;
   margin:20px auto;
   overflow:auto;
   padding:25px;
   cursor: pointer;
 }

 header {
  text-align:center;
  border-bottom: rgb(250, 250, 250) dashed 3px;
  background-color: #55ACEE;
  /* margin: 0 auto;
  height: 50px; */
}

section {
  min-height:500px;
}

input[type="submit"]{
  background-color: #292F33;
  color: #eeeeee;
  padding:10px 15px;
  cursor: pointer;
  font-size: 20px;
}

.text {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1 {
  color: whitesmoke;
  padding: 0px;
  margin: 0;
}

 h2 {
   color: whitesmoke;
   
 }

 h3 {
  color: #292F33;
}

/* #results span{
  color: #000;
  font-weight: bold;
} */

 
 main {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap: 20px;
   padding-top: 10px;
   padding-bottom: 30px;
   cursor: pointer;
 }
 
 div.card {
   background-color: #eeeeee;
   height: 250px;
   width: 300px;
   box-shadow: 10px 10px grey;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
 }
 
 p {
   font-size: 1.5em;
   color: whitesmoke;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 li {
   font-size: 1.05em;
   list-style: none;
   padding-right: 20px;
   font-family: "Titillium Web";
   font-weight: bold;
 }
 
 button {
   font-size: 1.5em;
   color: #fff;
   background-color: #292F33;
   border-radius: 8px;
   cursor: pointer;
 }

 .category-border {
   border: 4px solid black;
   margin: 10px;
   border-radius: 10px;
   display: inline-grid;
   cursor: pointer;
}

header[id="quiz-header"] {
   background-color: #292F33;
}

form {
   background-color: #E1E8ED;
}